In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import pandas as pd

In [2]:
DIR='/Users/anastasiamoiseva/Downloads'
import pandas as pd
spam_data = pd.read_csv(DIR+'/SMSSpamCollection.csv', delimiter=';',  error_bad_lines=False)

spam_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:

spam_data.columns = ['Label', 'SMS', 'a', 'b', 'c']
spam_data.head()

  Label                                                SMS    a    b    c
0   ham  Go until jurong point, crazy.. Available only ...  NaN  NaN  NaN
1   ham                      Ok lar... Joking wif u oni...  NaN  NaN  NaN
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...  NaN  NaN  NaN
3   ham  U dun say so early hor... U c already then say...  NaN  NaN  NaN
4   ham  Nah I don't think he goes to usf, he lives aro...  NaN  NaN  NaN

In [4]:
spam_data.drop(['a', 'b','c'], axis=1, inplace=True)

In [5]:
spam_data_clean = spam_data.copy()
spam_data_clean['SMS'] = spam_data_clean['SMS'].str.replace('\W+', ' ').str.replace('\s+', ' ').str.strip()
spam_data_clean['SMS'] = spam_data_clean['SMS'].str.lower()
spam_data_clean['SMS'] = spam_data_clean['SMS'].str.split()
spam_data_clean.head()

  Label                                                SMS
0   ham  [go, until, jurong, point, crazy, available, o...
1   ham                     [ok, lar, joking, wif, u, oni]
2  spam  [free, entry, in, 2, a, wkly, comp, to, win, f...
3   ham  [u, dun, say, so, early, hor, u, c, already, t...
4   ham  [nah, i, don, t, think, he, goes, to, usf, he,...

In [6]:
train_data = spam_data_clean.sample(frac=0.8,random_state=1).reset_index(drop=True)
test_data = spam_data_clean.drop(train_data.index).reset_index(drop=True)
train_data = train_data.reset_index(drop=True)

In [7]:
vocabulary = list(set(train_data['SMS'].sum()))

In [8]:
word_counts_per_sms = pd.DataFrame([
    [row[1].count(word) for word in vocabulary]
    for _, row in train_data.iterrows()], columns=vocabulary)

In [9]:
train_data = pd.concat([train_data.reset_index(), word_counts_per_sms], axis=1).iloc[:,1:]

In [10]:
train_data.head()

,Label,SMS,respectful,fone,incident,chic,squeezed,449071512431,interested,great,...,cedar,hands,opps,kidding,tlp,limping,valid,instituitions,wavering,tough
0,ham,"[convey, my, regards, to, him]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ham,"[û_, anyway, many, good, evenings, to, u, s]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ham,"[my, sort, code, is, and, acc, no, is, the, ba...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ham,"[sorry, i, din, lock, my, keypad]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,spam,"[hi, babe, its, chloe, how, r, u, i, was, smas...",0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

#### Bayes fromula for probabilities

In [11]:
alpha = 1

In [12]:
Nvoc = len(train_data.columns) - 3

In [13]:
train_data.shape

(4458, 7768)

In [14]:
#probab of sms being a spam =  #spam sms/total number of sms
Pspam = train_data['Label'].value_counts()['spam'] / train_data.shape[0]

In [15]:
#probab of sms not being a spam =  #not spam sms/total number of sms
Pham = train_data['Label'].value_counts()['ham'] / train_data.shape[0]

In [16]:
Nspam = train_data.loc[train_data['Label'] == 'spam', 'SMS'].apply(len).sum()

In [17]:
Nham = train_data.loc[train_data['Label'] == 'ham', 'SMS'].apply(len).sum()

In [18]:
def p_w_spam(word):
    if word in train_data.columns:
        return (train_data.loc[train_data['Label'] == 'spam', word].sum() + alpha) / (Nspam + alpha*Nvoc)
    else:
        return 1

In [19]:
def p_w_ham(word):
    if word in train_data.columns:
        return (train_data.loc[train_data['Label'] == 'ham', word].sum() + alpha) / (Nham + alpha*Nvoc)
    else:
        return 1

In [20]:
def classify(message):
    p_spam_given_message = Pspam
    p_ham_given_message = Pham
    for word in message:
        p_spam_given_message *= p_w_spam(word)
        p_ham_given_message *= p_w_ham(word)
    if p_ham_given_message > p_spam_given_message:
        return 'ham'
    elif p_ham_given_message < p_spam_given_message:
        return 'spam'
    else:
        return 'who knows'

In [21]:
test_data['predicted'] = test_data['SMS'].apply(classify)

In [22]:
all_predictions = test_data['SMS'].apply(classify)

In [23]:
test_data.head()

  Label                                                SMS predicted
0  spam  [welcome, to, uk, mobile, date, this, msg, is,...      spam
1   ham  [this, is, wishing, you, a, great, day, moji, ...       ham
2   ham  [thanks, again, for, your, reply, today, when,...       ham
3   ham  [sorry, i, flaked, last, night, shit, s, serio...       ham
4   ham  [he, said, i, look, pretty, wif, long, hair, w...       ham

In [24]:
#the results of mine bayes classifier


from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(test_data['Label'],all_predictions))

              precision    recall  f1-score   support

         ham       1.00      0.99      0.99       969
        spam       0.97      0.97      0.97       145
   who knows       0.00      0.00      0.00         0

    accuracy                           0.99      1114
   macro avg       0.65      0.66      0.65      1114
weighted avg       0.99      0.99      0.99      1114

//anaconda3/envs/tensorflow_env/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1268: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
msg_train, msg_test, class_train, class_test = train_test_split(spam_data['SMS'],spam_data['Label'],test_size=0.2)

In [27]:
msg_train.head()

4507                             Not able to do anything.
311     Think ur smart ? Win å£200 this week in our we...
4621                They finally came to fix the ceiling.
3491    I will reach office around  &lt;DECIMAL&gt; . ...
695                  Good. Good job. I like entrepreneurs
Name: SMS, dtype: object

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report,confusion_matrix

In [29]:
pipeline = Pipeline([
    ('bow',CountVectorizer()), # converts strings to integer counts
    ('tfidf',TfidfTransformer()), # converts integer counts to weighted TF-IDF scores
    ('classifier',MultinomialNB()) # train on TF-IDF vectors with Naive Bayes classifier
])

In [30]:
pipeline.fit(msg_train,class_train)

Pipeline(memory=None,
         steps=[('bow',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('tfidf',
                 TfidfTransformer(norm='l2', smooth_idf=True,
                                  sublinear_tf=False, use_idf=True)),
                ('classifier',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [31]:
predictions = pipeline.predict(msg_test)

In [32]:
print(classification_report(class_test,predictions))

              precision    recall  f1-score   support

         ham       0.96      1.00      0.98       988
        spam       1.00      0.72      0.83       127

    accuracy                           0.97      1115
   macro avg       0.98      0.86      0.91      1115
weighted avg       0.97      0.97      0.97      1115

I do not know why the existing classifier performed worse, probably something gone wrong...